@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Monserrat';
    background-color: #eee;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0 50px;
}

li {
    background-color: #fff;
    padding: 1em;
    box-shadow: 1px 1px rgba(0, 0, 0, .1);
    margin-bottom: 10px;
    font-weight: bold;
    border: 2px solid transparent;
}

li span {
    display: block;
    font-weight: normal;
    font-size: .8em;
}